<p>
  this is in the variable: {{ myVariable }}
</p>

<button (click)="startObservable()">Start observable</button>

<app-switch-style></app-switch-style>

<app-counter></app-counter>

<h1>From root component</h1>
<app-hello-world></app-hello-world>
<app-remember-button (buttonClicked)="recordTimestamp($event)">
</app-remember-button>
<app-timestamp-list [array]="timestampService.timestampList"></app-timestamp-list>

<button (click)="incrementCounter()">
  {{ counter }}
</button>

<button class="dropdown" (click)="toggleDropdown()">
  dropdown
  <div class="menu" *ngIf="opened">
      <ul>
        <li><a href="https://ibm.com">ibm.com</a></li>
        <li><a href="https://google.com">google.com</a></li>
      </ul>
    </div>
</button>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero error placeat illum distinctio, accusantium odit voluptate quasi praesentium. Corporis voluptates ullam consequuntur adipisci, quas quasi culpa ab debitis! Ad, nemo.</p>
