ul {
  background-color: yellow;
}

.text-red {
  color: red;
}

.text-blue {
  color: blue;
}

#nachos {
  color: red;
}

#dip {
  color: green;
}

#guacamole {
  color: brown;
}

#water {
  color: yellow;
}
